@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&family=Passion+One&family=Titillium+Web:ital,wght@1,200&display=swap');
h1 {
    color: rgba(0, 2, 97, 0.863);
    font-family: 'Passion One', cursive;
    font-size: 30pt;
    text-align: center;
}

h2 {
    color: rgba(0, 2, 97, 0.863);
    font-family: 'Noto Serif TC', serif;
    font-size: 20pt;
    text-align: center;
}

h3 {
    color: rgb(255, 255, 255);
    font-family: 'Titillium Web', sans-serif;
    font-size: 10pt;
}

body {
    background-color: rgb(105, 105, 105);
    font-family: Arial, Helvetica, sans-serif;
}

div#interface {
    width: 900px;
    margin: -60px auto 0px auto;
    background-color: rgb(90, 90, 90);
    padding: 40px 10px 30px 10px;
    
    
}

img#icone {
    position: relative;
    width: 400px;
    height: auto;
    left: auto;
    
}

header#cabecalho {
    border-bottom: 2px #ffffff solid;
    height: 100px;  
}

header#cabecalho h3{
    position:block;
    padding-top: 70px;
   }

p#text {
    color: rgba(0, 0, 0, 0.808);
    text-indent: 30px;
    text-align: justify;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*Formatação imagens */

figure.fotolegenda {
    border: 3px solid rgb(39, 39, 39);
    
    position: relative;
    box-shadow: 1px 1px 4px rgb(39, 39, 39);
    width: 70%;
    height: 100%;
    padding: 0px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

figure.fotolegenda img {
    width: 100%;
    height: 100%;
}

figure.fotolegenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(39, 39, 39);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: all 1s;
}

figure.fotolegenda:hover figcaption {
    opacity: 1;
}


/*Fomatando o menu*/

nav#menu {
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(39, 39, 39);
    height:8vh;
    width: 100%;
    z-index: 9900;
}

nav#menu span{
    color: rgba(0, 0, 0, 0.863);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    
}

nav#menu ul {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    margin: 2px;
    position: relative;
    
    padding: 10px;
    
}

nav#menu li:hover {
    text-decoration: underline;
}

nav#menu li {
    display: inline-block;   
    letter-spacing: 3px;
    margin-left: 32px;
    
} 

nav#menu a {
    color: rgba(0, 3, 206, 0.863);
    text-decoration: none;
    font-size: 12px;
    
}
nav#menu a.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
} 

a#log{
    text-transform: uppercase;
    list-style: none;
    display: inline-block;   
    letter-spacing: 3px;
    margin-left: 32px;
    position: relative;
    font-size: 12px;
    font-weight: 800;
    background-color: rgba(39, 39, 39, 0.808);
    cursor: pointer;
    
}

a#log:hover{
    background-color: rgb(134, 134, 134);
    text-decoration: underline;
}

p#text a {
    color: rgba(39, 39, 39, 0.808);
    text-decoration: underline;
}

section#principal {
    display: block;
    width: 400px;
    float: left;
    border-right: 2px #ffffff solid;
    padding-right: 45px;
    
   
}

table#tabelacarros {
    margin-left: auto;
    margin-right: auto;
    border: 1px rgba(0, 2, 97, 0.863) solid;
    border-spacing: 0px;
}

table#tabelacarros td {
    border: 1px rgba(0, 2, 97, 0.863) solid;
    padding: 20px;
}

table#tabelacarros td.cv {
    font-weight: bolder;
    background-color: rgba(2, 4, 122, 0.452);
}

table#tabelacarros caption {
    color: rgba(0, 2, 97, 0.479);
    font-size: 15px;
    font-weight: bolder;
}

aside#lateral {
    display: block;
    width: 400px;
    float: right;
    background-color: rgba(0, 2, 97, 0.315);
    padding: 15px;
    margin: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1 {
    text-align: center;
    margin-left: auto;
    margin-top: 20px;
}

footer#rodape {
    clear: both;
    border-top: 2px #ffffff solid;
    padding-top: 50px;
}

footer#rodape p {
    text-align: center;
}

footer#rodape a {
    text-align: center;
    color: rgba(39, 39, 39, 0.808);
    text-decoration: underline;
}

/*register*/

.btn{
    padding: auto;
    margin: 10px;
}

p#reg{
    text-align: center;
    color: black;
    font-size: smaller;
}

input#log{
    background-color: rgb(39, 39, 39);
    color: #ffffff;
}

/*Comment*/
input#comments{
    padding: 5px;
    width: 85%;
    background-color:rgba(129, 129, 129, 0.808) ;
    margin: auto;    
    padding-bottom: 40px;
    color: #ffffff;
    font-size: 15px;
}
input#comments::placeholder{
    color: #ffffff96;
    font-size: 15px;
}

button#addButton{
    margin: 5px;
    width: 10%;
    padding: 10px;
    background-color: rgba(129, 129, 129, 0.808);
}

button#addButton:hover{
    cursor: pointer;
    text-decoration: underline;
}

/*Comments*/

section#comments{
    margin: 20px;
    
}

section#comments li {
    border: 3px solid rgb(39, 39, 39);
    padding: 5px;
    margin: 3px;
}

section#comments h2 {
    text-align: left;
    font-size: 15px;
    
}

section#comments h3{
    color: antiquewhite;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 100;
}

section#comments span{
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 100;
    text-align: right;
    font-style: italic;

}