<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>CarLovers</title>
    <link rel="shortcut icon" href="/images/Caricon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">



</head>

<body>
    <div id="interface">


        <header id="cabecalho">
            <hgroup>
                <h3>
                    Portal de fãs, apaixonados por carros e automotivos.

                </h3>
            </hgroup>

            <nav id="menu">
                <ul type=disc>
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="fotosvf.ejs"> Images </a>
                    </li>

                    <li>
                        <a href="homenagem.ejs"> Tribute</a>
                    </li>

                    <li>
                        <a href="community.ejs"> Community </a>
                    </li>
                </ul>


            </nav>
        </header>


        <footer id="rodape">
            <p>João Victor 2021. First Project &reg; <br/>
                <a href="https://www.instagram.com/joaocrf_81/" target="_blank">Instagram</a>
            </p>
        </footer>


    </div>
</body>


</html>