<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>CarLovers</title>
    <link rel="shortcut icon" href="/images/Caricon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">



</head>

<body>
    <div id="interface">


        <header id="cabecalho">
            <hgroup>
                <h3>
                    Portal de fãs, apaixonados por carros e automotivos.

                </h3>
            </hgroup>

            <nav id="menu">
                <ul type=disc>
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="fotosvf.ejs"> Images </a>
                    </li>

                    <li>
                        <a href="homenagem.ejs"> Tribute</a>
                    </li>

                    <li>
                        <a href="community.ejs"> Community </a>
                    </li>
                </ul>


            </nav>
        </header>

        <h1>
            Tribute 
        </h1>

        <figure class="fotolegenda" >
            <img src="/images/paulWalker.jpg" >
            <figcaption> <br/>Paul Walker como Brian O'Conner
            </figcaption>
        </figure>

        <p id="text">
            Paul Walker perdeu a vida num trágico acidente no passado sábado, dia 30 de Novembro. O ator de 40 anos regressava de uma ação de beneficência promovida pela sua associação, em Santa Clarita, Califórnia.<br>
            A sua morte foi um choque para os fãs, família, amigos e colegas. Milhões de pessoas de toda a parte do globo prestaram tributo a Paul Walker online, num movimento viral que continua a percorrer toda a internet. O relatório da autópsia foi revelado há poucas horas, confirmando-se oficialmente a morte do ator pelo impacto do acidente e posterior incêndio. Este é o tributo a Paul Walker, prestado pela sua equipa.<br>
        </p>    
            <div  align="center">
            <iframe  width="560" height="315" src="https://www.youtube.com/embed/o8UCI7r1Aqw" title="YouTube video player" align="middle" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br>
            </div>
        <p id="text">    
            A polícia já afastou a hipótese de um segundo carro estar envolvido no acidente, descartando-se assim qualquer suspeita de estar a decorrer uma drag race, como alguns meios de comunicação tinham erradamente avançado. Não há mais notícias acerca da análise realizada aos destroços do Porsche Carrera GT em que seguia como passageiro, guiado pelo ex-piloto Roger Rodas, que também perdeu a vida no acidente. O relatório revela que a velocidade foi determinante na causa da morte.<br>

            A Universal Pictures confirmou que o filme Velocidade Furiosa 7 ficou em espera, até que a família e colegas recuperem desta fase de luto e também porque têm de avaliar o que fazer com a marca Velocidade Furiosa daqui para a frente.
        </p>


        <footer id="rodape">
            <p>João Victor 2021. First Project &reg; <br/>
                <a href="https://www.instagram.com/joaocrf_81/" target="_blank">Instagram</a>
            </p>
        </footer>


    </div>
</body>


</html>