<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/Caricon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title> CarLovers</title>
</head>

<body>




    <div id="interface">
        <header id="cabecalho">

            <hgroup>
                <h3>
                    Portal de fãs, apaixonados por carros e automotivos.

                </h3>
            </hgroup>

            <nav id="menu">
                <ul type=disc>
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="fotosvf.ejs"> Images </a>
                    </li>

                    <li>
                        <a href="homenagem.ejs"> Tribute</a>
                    </li>

                    <li>
                        <a href="community.ejs"> Community </a>
                    </li>
                </ul>


            </nav>

            
            <a id="log" > Login </a>  
            <a href="register.ejs"  id="log" > Register </a>
            

        </header>

        <section id="principal">
            <hgroup>
                <h1 style="text-align: center;">Velozes e Furiosos </h1>
                <h2 style="text-align: center;"> Desafio em Tóquio </h2>
            </hgroup>


            <img id="icone" src="/images/monalisa.png"> <br/> &nbsp;&nbsp;&nbsp;



            <p id="text">
                Boswell é um piloto de rua que desafia seu rival e bate o carro no fim da corrida. Então , Sean decide se mudar para o Japão em companhia de seu pai para evitar a prisão nos Estados Unidos, já que os rachas não são nada populares com as autoridades. Em
                Tóquio, ele começa a aprender um excitante e perigoso estilo novo de competir nas ruas. Só que os riscos ficam ainda mais altos quando Sean decide competir com o campeão local e acaba se apaixonando pela namorada dele.O terceiro filme
                da franquia
                <a href="https://www.imdb.com/title/tt0463985/" target="_blank">Velozes e furiosos</a> é por muitos considerado o melhor de todos.
            </p>

            <figure class="fotolegenda">
                <img src="/images/Seanmenor.jpg">
                <figcaption> <br/>Sean e sua namorada
                </figcaption>
            </figure>

            <h2>
                Data de lançamento
            </h2>
            <p id="text">
                O filme foi lançado em 11 de Agosto de 2006

            </p>

            <h2>Carros do filme</h2>

            <table id="tabelacarros">
                <caption> Relação Carro| Potencia

                </caption>
                <tr>
                    <td>Toyota Supra (1993)</td>
                    <td class="cv">324cv</td>
                </tr>
                <tr>
                    <td>Nissan 370z (2006)</td>
                    <td class="cv"> 328cv</td>
                </tr>
                <tr>
                    <td>Nissan Silvia (2006)</td>
                    <td class="cv">250cv</td>
                </tr>
                <tr>
                    <td>Mazda Rx-7(2006)</td>
                    <td class="cv">255cv</td>
                </tr>
            </table>
            </br>

            <p>
                Para baixar um pack de papeis de parede,<a href="Papeldeparede.zip" download="Papeldeparede.zip" type="application/zip"> clique aqui</a>
            </p>



        </section>

        <aside id="lateral">
            <h1>Curiosidades</h1>
            <h2>Trailer</h2>

            <iframe width="400" height="315" src="https://www.youtube.com/embed/HVQWZkd8cDk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


            <p>
                &#x1F3C1; Velozes e Furiosos: Desafio em Tóquio é o terceiro filme da franquia, que não repetiu de diretor em nenhuma das seqüências. Durante as filmagens, mais de 100 carros foram destruídos e cerca de 2 mil pneus foram utilizados. As cenas foram rodadas
                na Califórnia e no Japão.
            </p>

            <h2>Orange Demon</h2>
            <p>Um dos carros que chamam mais atenção no filme é o Mazda RX-7 do Han, dispensa comentários, vocês podem conferir no edit a seguir.</p>

            <iframe width="400" height="315" src="https://www.youtube.com/embed/rD7Af-6_W2Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
            </video>

            
        </aside>
        <footer id="rodape">
            <p>João Victor 2021. First Project &reg; <br/>
                <a href="https://www.instagram.com/joaocrf_81/" target="_blank">Instagram</a>
            </p>
        </footer>
    </div>




</body>

</html>