<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>CarLovers</title>
    <link rel="shortcut icon" href="/images/Caricon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    
    
    
</head>

<body>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div id="interface">


        <header id="cabecalho">
            <hgroup>
                <h3>
                    Portal de fãs, apaixonados por carros e automotivos.

                </h3>
            </hgroup>

            <nav id="menu">
                <ul type=disc>
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="fotosvf.ejs"> Images </a>
                    </li>

                    <li>
                        <a href="homenagem.ejs"> Tribute</a>
                    </li>

                    <li>
                        <a href="community.ejs"> Community </a>
                    </li>
                </ul>


            </nav>
        </header>

         
                  
           <% if(message!=""){ %> 
                <% if(type =="email exists"){ %> 
                    <script>  
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'This email already exists',
                                
                            })
                    </script>
                <% } %>                
            <% } %>
        
        
            
            
        

        <section id="principal">

            <h1>Register</h1>

            <form action="/register" style="text-align: center;" method="post">
                <h2>Name</h2>
                <input type="text" name="name"/>
                <h2>Email</h2>
                <input type="text" name="email" />
                <h2>Password</h2>
                <input type="text" name="password"/>
                <p id="reg">*The password must be numbers </p>
                <h2>Your Favorite car</h2>
                <input type="text" name="car"/>
                <br>
                <input class="btn" type="submit" name="acao" value="REGISTER"/>
                <p id="reg">You will be redirected to home page. </p>
            </form>
        </section>
        <aside id="lateral">
            <h1>Login</h1>
            <form action="/login" style="text-align:center;" method="post"> 
                <h2>Email</h2>
                <input type="text" name="email" />
                <h2>Password</h2>
                <input type="text" name="password"/><br>
                <input class="btn" type="submit" name="acao" value="LOGIN"/>
            </form>
            

            
        </aside>

        <footer id="rodape">
            <p>João Victor 2021. First Project &reg; <br/>
                <a href="https://www.instagram.com/joaocrf_81/" target="_blank">Instagram</a>
            </p>
        </footer>


    </div>
</body>


</html>