<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <title>CarLovers</title>
    <link rel="shortcut icon" href="/images/Caricon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">

</head>

<div id="interface">

    <header id="cabecalho">            

        <nav id="menu">
            <a class="logo" href="/">Car<span>L</span>overs</a>
            <ul type=disc>
                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="fotosvf.ejs"> Images </a>
                </li>

                <li>
                    <a href="homenagem.ejs"> Tribute</a>
                </li>

                <li>
                    <a href="community.ejs"> Community </a>
                </li>
                <%if (user){%>
                    <li>
                        <a href="logout">LOGOUT</a>
                    </li>
                    <%} else {%>
                    <li>
                        <a  href="register.ejs" > Login </a> 
                    </li>
                    <li>
                        <a href="register.ejs"   > Register </a>
                    </li>
                <%}%>
            </ul>
        </nav>

        <hgroup>
            <h3>
                Portal de fãs, apaixonados por carros e automotivos.
            </h3>
        </hgroup>
        

        
        

    </header>



    <body>
        <hgroup>
            <h1>Multimidia</h1>
            <h2>Fotos</h2>
        </hgroup>
        </br>

        <figure class="fotolegenda">
            <img src="/images/Hanweb.jpg">
        </figure>

        <figure class="fotolegenda">
            <img src="https://f001.backblazeb2.com/file/papocine/2013/06/20180718-3-750x393.jpg">
        </figure>
        
        <figure class="fotolegenda">
            <img src="https://f001.backblazeb2.com/file/papocine/2013/06/20180718-6.jpg">
        </figure>


    </body>
    <footer id="rodape">
        <p>João Victor 2021. First Project &reg; <br/>
            <a href="https://www.instagram.com/joaocrf_81/" target="_blank">Instagram</a>
        </p>
    </footer>



</div>

</html>